<nav class="container navbar navbar-expand-lg menu-bar bg-sena" aria-label="Offcanvas navbar large">
    <div class="container-fluid">
        <a class="navbar-brand fs-3" href="../">TecnoAcademia Arauca</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-gray" tabindex="-1" id="offcanvasNavbar2"
            aria-labelledby="offcanvasNavbar2Label">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Tecnoacademia Arauca</h5>
                <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item fs-5">
                        <a class="nav-link active" aria-current="page" href="../">Inicio</a>
                    </li>
                    <li class="nav-item dropdown fs-5">
                        <a class="nav-link dropdown-toggle active" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="true">
                            Formacion
                        </a>
                        <ul class="dropdown-menu">
                            <li>Lineas disponibles</li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item fs-6" href="#">TIC</a></li>
                            <li><a class="dropdown-item fs-6" href="#">Robotica</a></li>
                            <li><a class="dropdown-item fs-6" href="#">Ingenieria</a></li>
                            <li><a class="dropdown-item fs-6" href="#">Biotecnologia</a></li>
                            <li><a class="dropdown-item fs-6" href="#cbasicas">Ciencias Basicas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item fs-5">
                        <a class="nav-link active" href="#">Contacto</a>
                    </li>
                    <li class="nav-item fs-5">
                        <a class="nav-link active" href="#">Información</a>
                    </li>
                    <li class="nav-item" id="btn-inscripciones">
                        <a class="nav-link active fs-5 text-dark" aria-current="page" href="#">
                            Inscripciones 2023
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>