<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="../assets/img/logoSena.png" type="image/x-icon" />
    <!-- Link de esytilo personañlizados -->
    <!-- Link de estilo de Bootstrap -->
    <link rel="stylesheet" href="../assets/css/bootstrap.css" />
    <link rel="stylesheet" href="../assets/style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Incripciones 2023</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-dark bg-sena">
            <div class="container-fluid">
                <div class="container mx-auto">
                    <p class="fs-3 text-light text-center">Formulario de Inscripcion</p>
                </div>
                <button class="navbar-toggler bg-info" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2"
                    aria-labelledby="offcanvasNavbar2Label">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbar2Label">
                            Tecnoacademia Arauca
                        </h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item fs-5">
                                <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                            </li>
                            <li class="nav-item dropdown fs-5">
                                <a class="nav-link dropdown-toggle active" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="true">
                                    Formacion
                                </a>
                                <ul class="dropdown-menu">
                                    <li>Lineas disponibles</li>
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li><a class="dropdown-item fs-6" href="#">TIC</a></li>
                                    <li><a class="dropdown-item fs-6" href="#">Robotica</a></li>
                                    <li>
                                        <a class="dropdown-item fs-6" href="#">Ingenieria</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item fs-6" href="#">Biotecnologia</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item fs-6" href="#">Ciencias Basicas</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item fs-5">
                                <a class="nav-link active" href="#">Contacto</a>
                            </li>
                            <li class="nav-item fs-5">
                                <a class="nav-link active" href="#">Información</a>
                            </li>
                            <li class="nav-item" id="btn-inscripciones">
                                <a class="nav-link active fs-5 text-dark text-center" aria-current="page"
                                    href="view/inscripcion.html">
                                    Inscripciones 2023
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
        <!--* Contenidos principal de la pagina  -->
        <div class="container shadow mt-4 rounded form-layout">
            <h1 class="text-info text-center mb-3">Formulario de Inscripcion</h1>
            <form class="row g-3 bg-danger p-1">
                <div class="col-md-10 bg-warning">
                    <label for="inputEmail4" class="form-label fs-6">Email</label>
                    <input type="email" class="form-control ms-2" id="inputEmail4" />
                </div>
                <div class="col-md-10">
                    <label for="inputPassword4" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword4" />
                </div>
            </form>
        </div>
        <div class="form-layout">
            sayd hello
        </div>
    <script src="../assets/js/bootstrap.bundle.js"></script>
    
</body>

</html>